
ul {
    list-style-type: none;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

li {
    display: inline-block;
}

li {
    color: grey;
}

.padding {
    padding: 0px 20px;
}

.width {
    padding: 15px;
}

.heading1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 500%;
    font-family: 'Roboto';
    font-weight: bold;
}

#main {
    width: 1000px;
    color: white;
    background-color: black;
    padding: 0%;
    margin-left: 200px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.heading2 {
    display: flex;
    font-size: 60px;
    padding: 0%;
    margin-left: 200px;
    margin-bottom: 15px;
    margin-top: 0px;
    font-family: 'Roboto';
    font-weight: normal;
}

article {
    display: inline-block;
    width: 1100px;
    font-size: 19px;
    font-weight: 500;
    padding-top: 0%;
    margin-left: 200px;
}

#bottom {
    text-align: center;
    background-color: black;
    width: 1200px;
    color: gray;
    padding: 0px;
    margin-top: 1%;
    margin-left: 10%;
}