@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto')
    url(../roboto\ woff/Roboto-Light.woff);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto')
    url(../roboto\ woff/Roboto-Regular.woff);
}