.container {
    width: 1200px;
    margin: 0 auto;
  }  

#line1 {
    list-style-type: none;
    margin-top: 25px;
    padding-inline-start: 0px;
}

#line2 {
    list-style-type: none;
    margin-top: -36px;
    text-align: right;
}

#heading1 {
    padding-inline-start: 0px;
}

.start {
    display: inline-block;
}

.start {
    color: grey;
}

.padding {
    padding: 0px 20px;
}


.heading1 {
    color: rgb(49, 46, 46);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 700%;
    font-family: 'Roboto';
    font-weight: bolder;
}

#main {
    background-color: rgb(66, 66, 66);
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#mainp {
    color: white;
    padding-top: 25px;
    margin-left: 30px;
}
#aboutus {
    color: white;
    padding-top: 25px;
    margin-left: 30px;
}
#course {
    color: white;
    padding-top: 25px;
    margin-left: 30px;
}
#course {
    color: white;
    padding-top: 25px;
    margin-left: 30px;
}
#new {
    color: white;
    margin-left: 30px;
}
#start {
    color: white;
    margin-left: 30px;
}
#contacts {
    color: white;
    margin-left: 30px;
}

#header1 {
    color: rgb(49, 46, 46);
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 500%;
    font-family: 'Roboto';
    font-weight: bold;
}

#content {
    color: rgb(49, 46, 46);
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 150%;
    font-family: 'Roboto';
    font-weight: 590;
}

#bigp {
    padding-inline-start: 0px;
    margin-bottom: 0px;
}
#picture1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

#picture2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

#align {
    padding-inline-start: 0px;
    margin-top: 0px;
}

#smallp1, #smallp2, #smallp3, #smallp4 {
    display: inline-block;
    margin-left: 1.5px;
}

#bottom {
    background-color: rgb(66, 66, 66);
    width: 1200px;
    padding: 100px 0px;
    margin-top: 115px;
    margin-left: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#text1 {
    display: inline-block;
    width: 1200px;
    text-align: center;
    color: aliceblue;
    margin: 0 auto;
}

.container1 {
    box-sizing: border-box;
    width: fit-content;
    height: 150px;
    max-width: 350px;
    min-width: 350px;
    margin: 30px 5px 30px 850px;
    border: 1px solid grey;
}

#lineG {
    background-color: rgb(97, 97, 97);
    height: 0px;
    margin-top: 1px;
    margin-left: 15px;
    margin-right: 50px;
}

#lineB {
    background-color: black;
    border: none;
    height: 1px;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 200px;
}

.container2 {
    box-sizing: border-box;
    width: fit-content;
    height: 521px;
    max-width: 350px;
    min-width: 350px;
    margin: 30px 20px 30px 850px;
    border: 1px solid grey;
}

#container4 {
    box-sizing: border-box;
    width: 795px;
    height: 700px;
    margin: -730px 0px 35px 0px;
    border: 1px solid grey;
}

.heading4 {
    display: inline-block;
    margin: 15px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 500;
}

#icons {
    margin: 30px auto 0; 
    
}

#facebook_icon {
    width: fit-content;
    max-width: 45px; 
    padding-right: 50px;
    padding-top: 30px;
}

#insta_icon {
    display: inline-block;
    width: fit-content;
    max-width: 45px; 
    margin-right: 50px;
}

#twitter_icon {
    display: inline-block;
    width: fit-content;
    max-width: 45px; 
}

#Facebook {
    display: inline-block;
    margin-left: -10px;
}

#Instagram {
    margin-left: 35px;
    margin-right: 35px;
}

.heading5 {
    display: inline-block;
    margin: 15px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 500;
}

#lineG2 {
    background-color: rgb(97, 97, 97);
    height: 0px;
    margin-top: 1px;
    margin-left: 15px;
    margin-right: 50px;
}

#lineB2 {
    background-color: black;
    border: none;
    height: 1px;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 200px;
}

#avatars {
    display: grid;
    margin: 30px auto 0px 15px;
    width: 180px;
}

#wanderer, #photo, #designer, #AppD  {
    margin-bottom: 10px;
}

#Users {
    display: grid;
    margin: -270px auto 0px 107px;
}

#name1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: -33px -10px 0px 0px;
} 

#name2, #name3, #name4 {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 38px -10px 0px 0px;
}

.who1, .who2, .who3, .who4 {
    color: grey;
    font-size: small;
}

.container3 {
    box-sizing: border-box;
    height: 380px;
    max-width: 734px;
    min-width: 350px;
    margin: 30px auto 55px auto;
    border: 1px solid grey;
}

.heading6 {
    display: inline-block;
    margin: 15px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

#lineG3 {
    background-color: rgb(97, 97, 97);
    height: 0px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 475px;
}

#lineB3 {
    background-color: black;
    border: none;
    height: 1px;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 555px;
}

#newsp {
    display: grid;
    margin: 10px auto 0px 15px;
    width: 180px;
    padding-inline-start: 0px;
}

#newsp1, #newsp2, #newsp3 {
    margin-bottom: 10px;
}

.linenews {
    background-color: rgb(97, 97, 97);
    border: none;
    height: 1px;
    margin: 5px -487px 0px -1px;
}

#news_title {
    display: grid;
    margin: -205px auto 0px -60px;
}

#news_1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: -80px auto 0px 155px;
}

.what1 {
    color: rgb(97, 97, 97);
    text-transform: initial;
    font-size: smaller;
}

#date {
    display: inline-block;
    color: rgb(97, 97, 97);
    text-transform: initial;
    font-size: x-small;
    margin-top: 10px;
}

#news_2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 15px auto 0px 155px;
}

.what2 {
    color: rgb(97, 97, 97);
    text-transform: initial;
    font-size: smaller;
}

#date2 {
    display: inline-block;
    color: rgb(97, 97, 97);
    text-transform: initial;
    font-size: x-small;
    margin-top: 10px;
}

#news_3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 35px auto 0px 155px;
}

.what3 {
    color: rgb(97, 97, 97);
    text-transform: initial;
    font-size: smaller;
}

#date3 {
    display: inline-block;
    color: rgb(97, 97, 97);
    text-transform: initial;
    font-size: x-small;
    margin-top: 10px;
}


.heading7 {
    display: inline-block;
    margin: 15px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

#lineB4 {
    background-color: black;
    border: none;
    height: 1px;
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 530px;
}

#eventsimg {
    display: grid;
    padding-inline-start: 15px;
    margin: 35px auto 0px 0px;
}

.eventsimg1 {
    background-image: 
        url(./HW-12/Tile-Big-01.png);
    width: 360px;
    height: 200px;
    background-repeat: round;
    margin-bottom: 70px;
}

.study {
    width: 135px;
    height: 25px;
    background-color: rgb(0, 100, 158);
    margin-top: 175px;
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.what4 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: medium;
}

.date4 {
    margin-top: -10px;
    margin-bottom: 35px;
    font-family: 'Roboto';
    color: rgb(97, 97, 97);
    font-size: x-small;
}

.eventsimg2 {
    background-image: 
        url(./HW-12/Tile-Big-02.png);
    width: 360px;
    height: 200px;
    background-repeat: round;
}

.lectors {
    width: 135px;
    height: 25px;
    background-color: rgb(126, 0, 126);
    margin-top: 175px;
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.what5 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: medium;
}

.date5 {
    margin-top: -10px;
    font-family: 'Roboto';
    color: rgb(97, 97, 97);
    font-size: x-small;
}

.eventsimg3 {
    background-image: 
    url(./HW-12/Tile-Big-03.png);
    width: 360px;
    height: 200px;
    background-repeat: round;
    margin: -472px 397px 0px;
}

.lessons {
    width: 135px;
    height: 25px;
    background-color: rgb(0, 194, 0);
    margin-top: 175px;
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.what6 {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: medium;
}

.date6 {
    font-family: 'Roboto';
    color: rgb(97, 97, 97);
    font-size: x-small;
}

.eventsimg4 {
    background-image: 
    url(./HW-12/Tile-Big-04.png);
    background-repeat: round;
    width: 360px;
    height: 200px;
    margin: -201px 396px;
}

.aboutpro {
    width: 135px;
    height: 25px;
    background-color: orange;
    color: black;
    margin: 175px 0px 0px;
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.what7 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: medium;
    color: black;
    margin: 5px 0px -1px 0px;
}

.date7 {
    font-family: 'Roboto';
    color: rgb(97, 97, 97);
    font-size: x-small;
}

.button1 {
    background-color: rgb(0, 223, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 60px;
    margin: 65px 250px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#container5 {
    box-sizing: border-box;
    width: 1200px;
    height: 271px;
    background-color: #8080801c;
    margin: 0px auto 0px 0px;
}

.heading8 {
    display: inline-block;
    margin: 15px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

#lineB5 {
    border: none;
    background-color: black;
    height: 2px;
    margin-right: 1125px;
    margin-left: 15px;
}

#videos {
    padding-inline-start: 15px;
}

.video0 {
    float: left;
    width: 285px;
    height: 199px;
    margin: 0px 5px 20px 0px;
}

.video1 {
    float: left;
    background-image: 
    url(./HW-12/video-01.png);
}

.video2 {
    background-image:  
    url(./HW-12/video-02.png);
}

.video3 {
    background-image:  
    url(./HW-12/video-03.png);
}

.video4 {
    background-image:  
    url(./HW-12/video-04.png);
}